
@{
    ViewData["Title"] = "Error404";
}

<br/>
<br/>
<h2 style="text-align:center;">¡Página no encontrada!</h2>
<br />
<div style="text-align:center;">
    <img src="~/images/notfound.png" width="300px"/>
    <br />
    <br />
    <a class="btn btn-outline-success" asp-controller="Home" asp-action="Index">Regresar a Inicio</a>
</div>