
@{
    ViewData["Title"] = "NotAuthorized";
}
<br/>
<br/>
<h2 style="text-align:center;">No estás autorizado para ejecutar esta acción</h2>
<br />
<div style="text-align:center;">
    <img src="~/images/notauthorized.gif"/>
    <br />
    <br />
    <a class="btn btn-outline-success" asp-controller="Home" asp-action="Index">Regresar a Inicio</a>
</div>