@model Shopping.Data.Entities.Country

@{
    ViewData["Title"] = "Create";
}

<h1>Crear nuevo</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <flash dismissable="true" />
            <input type="hidden" asp-for="States" />
            <partial name="_Country" />
            <div class="form-group mt-2">
                <input type="submit" value="Crear país" class="btn btn-outline-primary" />
                <a class="btn btn-outline-success" asp-action="Index">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
