@model Shopping.Models.StateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Crear nuevo</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateState">
            <flash dismissable="true" />
            <input type="hidden" asp-for="CountryId" />
            <partial name="_State" />
            <div class="form-group mt-2">
                <input type="submit" value="Crear departamento/estado" class="btn btn-outline-primary" />
                <a class="btn btn-outline-success" asp-action="Details" asp-route-id="@Model?.CountryId">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
