@model Shopping.Data.Entities.Country

@{
    ViewData["Title"] = "Delete";
}

<h3>Está seguro de querer eliminar este país?</h3>
<div>
    <partial name="_CountryDetails" />
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-outline-danger" />
        <a class="btn btn-outline-success" asp-action="Index">Regresar</a>
    </form>
</div>
